﻿@model MusicTickets.Models.Genre

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    ViewData["User"] = UserManager.GetUserName(User);
    ApplicationUser aplicationUser = await UserManager.GetUserAsync(User);
    IList<string> roles = null;

    if (aplicationUser != null)
    {
        roles = await UserManager.GetRolesAsync(aplicationUser);
    }
}

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @if (roles != null && roles.Any(currRole => currRole.Equals("ADMIN")))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <tmp>|</tmp>
    }
    <a asp-action="Index">Back to List</a>
</div>
