﻿@model IEnumerable<MusicTickets.Models.Genre>
@using Microsoft.AspNetCore.Identity
@using MusicTickets.Models

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Genres";
    ViewData["User"] = UserManager.GetUserName(User);
    ApplicationUser aplicationUser = await UserManager.GetUserAsync(User);
    IList<string> roles = null;

    if (aplicationUser != null)
    {
        roles = await UserManager.GetRolesAsync(aplicationUser);
    }
}

<h2>Genres</h2>
@if (roles != null && roles.Any(currRole => currRole.Equals("ADMIN")))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@{
    if (Model.Count().Equals(0))
    {
        <p>
            Sorry, we dont have genres
        </p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            @if (roles != null && roles.Any(currRole => currRole.Equals("ADMIN")))
                            {
                                <tmp>|</tmp>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <tmp>|</tmp>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

<style>
    tmp {
        color: black;
    }
</style>