@font-face {
    font-family: Hunters;
    src: url(Hunters.otf);
}

h2 {
    font-family: Hunters;
}

.aboutInformation {
    margin-top: 5%;
    background-color: #33ae74;
    transition: background-color 0.5s ease-out;
    border-radius: 20px 20px;
    border: 1px solid grey;
    text-align: center;
    direction: rtl;
}

    .aboutInformation:hover {
        background-color: #1ce;
    }

.newspaper {
    column-count: 4;
    -webkit-column-gap: 20px;
    padding: 0;
}

    .newspaper > li {
        width: 250px;
        list-style: none;
        text-shadow: 1px 4px 1px grey;
    }

