﻿.aside-container {
    position: fixed;
    text-align: center;
}

.known-user {
    left: 0px;
    background-color: #fafafa;
    height: 100%;
    width: 50px;
    align-items: center;
}

.removeATextLine {
    text-decoration: none !important;
}

.userActions {
    position: absolute;
    top: 30%;
}

.iconButtoncontainer {
    height: 53px;
    overflow: auto;
    line-height: 50px;
    margin-bottom: 40px;
}

    .iconButtoncontainer:hover {
        background-color: #ebebeb;
    }

.userDataCircle {
    margin-top: 6px;
    width: 38px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e8eaf6;
    border-radius: 100%;
}

.userDataText {
    line-height: 36px;
    color: black;
    font-size: 30px;
}

.userDataIconButton {
    width: 40px;
    overflow: auto;
    line-height: 50px;
    color: black;
    font-size: 20px;
    margin-left: 4px;
}

.logOutButton {
    background-color: transparent;
    border: none;
    align-items: center;
    width: 50px;
    height: 40px;
    font-size: 20px;
}

    .logOutButton:hover {
        background-color: #ebebeb;
    }

.known-user > .bottom-buttons {
    position: absolute;
    bottom: 60px;
    margin-left: 2px
}

.unknown-user {
    right: 0px;
    background-color: #222;
    top: 0px;
    z-index: 1031; /* nav-bar is 1030*/
    height: 5%
}

    .unknown-user > .link {
        float: left;
        color: #9d9d9d;
        padding: 15px;
        display: block;
        text-decoration: none;
    }
