﻿@model IEnumerable<MusicTickets.Models.ApplicationUser>

@{
    ViewData["Title"] = "All orders";
}

<h2>All orders</h2>
@{
    if (Model.Where(a => a.Tickets.Count() > 0).Count().Equals(0))
    {
        <p>
            There are no tickets in the system!
        </p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().Event.ArtistName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @foreach (var currTicket in item.Tickets)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => currTicket.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => currTicket.Event.ArtistName)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@currTicket.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@currTicket.Id">Cancel order</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
