﻿@model MusicTickets.Models.Ticket

@{
    ViewData["Title"] = "Cancel order";
}

<h2>Cancel order</h2>

<h3>Are you sure you want to cancel this order?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.ArtistName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventGenre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventGenre.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Stadium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Stadium.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancel order" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
