﻿@model MusicTickets.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.ArtistName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventGenre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventGenre.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Stadium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Stadium.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
