﻿@model IEnumerable<MusicTickets.Models.Ticket>

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "My tickets";
    ViewData["User"] = UserManager.GetUserName(User);
    ApplicationUser aplicationUser = await UserManager.GetUserAsync(User);
    IList<string> roles = null;

    if (aplicationUser != null)
    {
        roles = await UserManager.GetRolesAsync(aplicationUser);
    }
}

<h2>My Tickets</h2>
@{
    if (Model.Count().Equals(0))
    {
        <p>
            You didnt buy any ticket!
        </p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Event.ArtistName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.ArtistName)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Cancel order</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (roles != null && roles.Any(currRole => currRole.Equals("ADMIN")))
    {
        <a asp-action="AllOrders">All orders</a>
    }
}
