﻿@model MusicTickets.Models.Stadium

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    ViewData["User"] = UserManager.GetUserName(User);
    ApplicationUser aplicationUser = await UserManager.GetUserAsync(User);
    IList<string> roles = null;

    if (aplicationUser != null)
    {
        roles = await UserManager.GetRolesAsync(aplicationUser);
    }
}

<h2>Details</h2>

<script>
    var map;
    function initMap() {
        var getDataAboutAddressUrl = "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates?f=json&singleLine=" + "@Model.Address," + "@Model.City" + "&outFields=Match_addr,Addr_type";

        $.ajax({
            url: getDataAboutAddressUrl,
            dataType: 'json',
            success: function (response) {
                if (response.candidates.length > 0) {
                    var markerCoor = {
                        lat: response.candidates[0].location.y,
                        lng: response.candidates[0].location.x
                    };
                    var map = new google.maps.Map(
                        document.getElementById('map'), { zoom: 15, center: markerCoor }
                    );
                    var marker = new google.maps.Marker({ position: markerCoor, map: map });
                }
            }
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7qRgn3ZxLjOQ8okmdZ3kCHoBjtCJbIrs&callback=initMap"
        async defer></script>

<div>
    <h4>Stadium</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>
</div>
<div>
@if (roles != null && roles.Any(currRole => currRole.Equals("ADMIN")))
{
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <tmp>|</tmp>
}
    <a asp-action="Index">Back to List</a>
</div>
<div id="map" style="position: relative; height: 40vh; width: 40vw; overflow: hidden;"></div>


