﻿
@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        font-family: "Lato", sans-serif
    }

    .mySlides {
        display: none
    }
</style>
<body>

    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;height:50%">

        <!-- Automatic Slideshow Images -->
        <div class="mySlides w3-display-container w3-center">
            <img src="~/images/music1.jpg" style="width:100%">
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                <h3>Tel Aviv</h3>
                <p>Performance at the beach!</p>
            </div>
        </div>
        <div class="mySlides w3-display-container w3-center">
            <img src="~/images/music2.jpg" style="width:100%">
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                <h3>Jerusalem</h3>
                <p>Best performance ever!</p>
            </div>
        </div>
        <div class="mySlides w3-display-container w3-center">
            <img src="./images/music3.jpg" style="width:100%">
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                <h3>Eilat</h3>
                <p>A night we won't forget.</p>
            </div>
        </div>

        <!-- The Band Section -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <h2 class="w3-wide">THE SHOWS SITE</h2>
            <p class="w3-opacity"><i>We love music</i></p>
            <p class="w3-justify" style="text-align:center!important">
                We have created a site for tickets to shows all around the country
            </p>
            <div class="w3-row w3-padding-32">
                <div class="w3-quarter">
                    <p>Ron</p>
                    <canvas id="ronImg" class="w3-round w3-margin-bottom" alt="Random Name" width="250" height="300" style="width:80%"></canvas>
                </div>
                <div class="w3-quarter">
                    <p>Anat</p>
                    <canvas id="anatImg" class="w3-round w3-margin-bottom" alt="Random Name" width="250" height="300" style="width:80%"></canvas>
                </div>
                <div class="w3-quarter">
                    <p>Inbal</p>
                    <canvas id="inbalImg" class="w3-round w3-margin-bottom" alt="Random Name" width="250" height="300" style="width:80%"></canvas>
                </div>
                <div class="w3-quarter">
                    <p>Amiad</p>
                    <canvas id="amiadImg" class="w3-round w3-margin-bottom" alt="Random Name" width="250" height="300" style="width:80%"></canvas>
                </div>
            </div>
        </div>

        <!-- The Tour Section -->
        <div class="w3-black" id="tour">
            <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
                <h2 class="w3-wide w3-center">SHOWS DATES</h2>
                <p class="w3-opacity w3-center"><i>Remember to book your tickets!</i></p><br>

                <ul class="w3-ul w3-border w3-white w3-text-grey">
                    <li class="w3-padding">September - Omer Adam <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
                    <li class="w3-padding">October - Yuval Dayan<span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
                    <li class="w3-padding">November - Shlomo Arzi<span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
                </ul>

                <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                    <div class="w3-third w3-margin-bottom">
                        <img src="~/images/jerusalem.jpg" style="width:100%" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p>Jerusalem</p>
                            <p class="w3-opacity">Fri 27 Nov 2016</p>
                            <p>Ishai Ribo performance</p>
                        </div>
                    </div>
                    <div class="w3-third w3-margin-bottom">
                        <img src="~/images/telaviv.jpg" style="width:100%" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p>Tel Aviv</p>
                            <p class="w3-opacity">Sat 28 Nov 2016</p>
                            <p>Omer adam show</p>
                        </div>
                    </div>
                    <div class="w3-third w3-margin-bottom">
                        <img src="~/images/eilat.jpg" style="width:100%" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                            <p>Eilat</p>
                            <p class="w3-opacity">Sun 29 Nov 2016</p>
                            <p>Mosh Ben Ari performance</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="w3-button w3-green w3-margin-bottom" style="width: 40%; margin-left: 30%; margin-right: 30%;" onclick="document.getElementById('ticketModal').style.display='block'">Want Tickets?</button>
        </div>


        <!-- Ticket Modal -->
        <div id="ticketModal" class="w3-modal">
            <div class="w3-modal-content w3-animate-top w3-card-4">
                <header class="w3-container w3-teal w3-center w3-padding-32">
                    <span onclick="document.getElementById('ticketModal').style.display='none'"
                          class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                    <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
                </header>
                <div class="w3-container">
                    <p><label><i class="fa fa-shopping-cart"></i>Hi! We are happy that you want to buy tickets for one of our shows.</label></p>
                    <p><label>click here to search your favorite show</label></p>
                    <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right" onclick="location.href = '/Events'">GO!<i class="fa fa-check"></i></button>
                    <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
                </div>
            </div>
        </div>

        <!-- The Contact Section -->
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
            <h2 class="w3-wide w3-center">CONTACT</h2>
            <p class="w3-opacity w3-center"><i>We are here for you</i></p>
            <div class="w3-row w3-padding-32">
                <div class="w3-col m6 w3-large w3-margin-bottom">
                    <i class="fa fa-map-marker" style="width:30px"></i> Rishon LeTzion, Israel<br>
                    <i class="fa fa-phone" style="width:30px"></i> Phone: +972 526359950<br>
                    <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
                </div>
            </div>
        </div>

        <!-- End Page Content -->
    </div>
    <script>
        membersImg = [{ elemnt: 'ronImg', image: '/images/ron.jpg' },
            { elemnt: 'anatImg', image: '/images/anat.jpg' },
            { elemnt: 'inbalImg', image: '/images/inbal.jpg' },
            { elemnt: 'amiadImg', image: '/images/amiad.jpg' }]

        membersImg.forEach(member => {
            var canvas = document.getElementById(member.elemnt);
            var context = canvas.getContext('2d');
            var imageObj = new Image();

            imageObj.onload = function () {
                context.drawImage(imageObj, 0, 0);
            };
            imageObj.src = member.image;
        });
        
        // Automatic Slideshow - change image every 4 seconds
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 4000);
        }

        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        // When the user clicks anywhere outside of the modal, close it
        var modal = document.getElementById('ticketModal');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
