﻿@model MusicTickets.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Stadium" class="control-label"></label>
                <select asp-for="Stadium" class ="form-control" asp-items="ViewBag.Stadiums"></select>
            </div>
            <div class="form-group">
                <label asp-for="EventGenre" class="control-label"></label>
                <select asp-for="EventGenre" class ="form-control" asp-items="ViewBag.EventGenres"></select>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistName" class="control-label"></label>
                <input asp-for="ArtistName" class="form-control" />
                <span asp-validation-for="ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalTicketsNumber" class="control-label"></label>
                <input asp-for="TotalTicketsNumber" class="form-control" min="1" onchange="document.getElementById('available').max=this.value;" id="amount"/>
                <span asp-validation-for="TotalTicketsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableTicketsNumber" class="control-label"></label>
                <input asp-for="AvailableTicketsNumber" class="form-control" id="available" max="document.getElementById('amount').value" min="1"/>
                <span asp-validation-for="AvailableTicketsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
