﻿@model MusicTickets.Models.Event

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalTicketsNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalTicketsNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailableTicketsNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableTicketsNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventGenre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventGenre.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stadium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stadium.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
