﻿@model MusicTickets.Models.Event

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    ViewData["User"] = UserManager.GetUserName(User);
    ApplicationUser aplicationUser = await UserManager.GetUserAsync(User);
    IList<string> roles = null;

    if (aplicationUser != null)
    {
        roles = await UserManager.GetRolesAsync(aplicationUser);
    }
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalTicketsNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalTicketsNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailableTicketsNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableTicketsNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventGenre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventGenre.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stadium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stadium.Name)
        </dd>
    </dl>
</div>
<div>
    @if (roles != null && roles.Any(currRole => currRole.Equals("ADMIN")))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <tmp>|</tmp>
    }
    <a asp-action="Index">Back to List</a>
</div>