﻿@model IEnumerable<MusicTickets.Models.Event>

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Events";
    ViewData["User"] = UserManager.GetUserName(User);
    ApplicationUser aplicationUser = await UserManager.GetUserAsync(User);
    IList<string> roles = null;

    if (aplicationUser != null)
    {
        roles = await UserManager.GetRolesAsync(aplicationUser);
    }
}
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>

<script>
    var isUserAdmin = false;

    $(document).ready(function () {
        getIsUserAdmin();

        $("#filter").on("click", function () {
            getData(false);
        });
    });

    function getIsUserAdmin(isFirst) {
        return $.ajax({
            url: "/Events/IsAdmin",
            dataType: 'json',
            success: successIsUserAdminHandler
        })
    };

    function successIsUserAdminHandler(isAdmin) {
        isUserAdmin = isAdmin;

        getData(true);
    }

    function createQuery(isFirst) {
        var url = "/Events/Filter";
        var isFirstFilter = true;

        if (!isFirst) {
            if ($("#Stadiums").val() && $("#Stadiums").val().length > 0) {
                url += addPrefixForFilter(isFirstFilter) + "StadiumId=" + $("#Stadiums").val();
                isFirstFilter = false;
            }
            if ($("#EventGenres").val() && $("#EventGenres").val().length > 0) {
                url += addPrefixForFilter(isFirstFilter) + "GenreId=" + $("#EventGenres").val();
                isFirstFilter = false;
            }
            if ($("#FromDT").val() && $("#FromDT").val().length > 0) {
                url += addPrefixForFilter(isFirstFilter) + "FromDT=" + $("#FromDT").val();
                isFirstFilter = false;
            }
            if ($("#ToDT").val() && $("#ToDT").val().length > 0) {
                url += addPrefixForFilter(isFirstFilter) + "ToDT=" + $("#ToDT").val();
                isFirstFilter = false;
            }
            if ($("#ArtistName").val() && $("#ArtistName").val().length > 0) {
                url += addPrefixForFilter(isFirstFilter) + "ArtistName=" + $("#ArtistName").val();
                isFirstFilter = false;
            }
        }

        return url;
    }

    function addPrefixForFilter(isFirst) {
        return isFirst ? '?' : '&';
    }

    function getData(isFirst) {
        return $.ajax({
            url: createQuery(isFirst),
            dataType: 'json',
            success: successRequestHandler
        })
    };

    function successRequestHandler(data) {
        var tableHtml = "";
        data.forEach((currValue) => {
            tableHtml += createTableRow(currValue);
        });
        $("#TableBody").html(tableHtml);

    }

    function createTableRow(currRowObject) {
        var result = "<tr>"

        result += "<td>" + currRowObject.eventDate + "</td>";
        result += "<td>" + currRowObject.artistName + "</td>";
        result += "<td>" + currRowObject.totalTicketsNumber + "</td>";
        result += "<td>" + currRowObject.availableTicketsNumber + "</td>";
        result += "<td>" + currRowObject.eventGenre.name + "</td>";
        result += "<td>" + currRowObject.stadium.name + "</td>";

        result += "<td>"

        if (currRowObject.availableTicketsNumber > 0) {
            result += '<a href="/Events/Order/' + currRowObject.id + '">Order</a>  | ';
        }
        result += '<a href="/Events/Details/' + currRowObject.id + '">Details</a>';

        if (isUserAdmin) {
            result += '  | <a href="/Events/Edit/' + currRowObject.id + '">Edit</a>  | ';
            result += '<a href="/Events/Delete/' + currRowObject.id + '">Delete</a>';
        }

        result += "</td>";

        result += "</tr>";

        return result;
    }
</script>

<h2>Events</h2>
@if (roles != null && roles.Any(currRole => currRole.Equals("ADMIN")))
{
    <p>
        <a asp-action="Create">Create new show</a>
    </p>
}
@{
    if (Model.Count().Equals(0))
    {
        <p>
            Sorry, we dont have active shows
        </p>
    }
    else
    {
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Filters
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                @*<form asp-action="Filter">*@
                                <form>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label>Stadium</label>
                                        <select class="form-control" asp-items="ViewBag.Stadiums" id="Stadiums" name="Stadiums"></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Genre</label>
                                        <select class="form-control" asp-items="ViewBag.EventGenres" id="EventGenres" name="EventGenres"></select>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label>From date</label>
                                            <input type="date" class="form-control" id="FromDT" name="FromDT" />
                                        </div>
                                        <div class="col-md-6">
                                            <label>To date</label>
                                            <input type="date" class="form-control" id="ToDT" name="ToDT" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Artist name</label>
                                        <input type="text" class="form-control" id="ArtistName" name="ArtistName" />
                                    </div>
                                    <div class="form-group">
                                        <input value="Filter" id="filter" class="btn btn-default" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EventDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ArtistName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalTicketsNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableTicketsNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EventGenre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stadium)
                    </th>
                </tr>
            </thead>
            <tbody id="TableBody"></tbody>
        </table>
    }
}
