﻿@model MusicTickets.Models.Ticket

@{
    ViewData["Title"] = "Order ticket";
}

<h2>Ticket</h2>
<hr />
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="היי! אני קונה כרטיס להופעה של @ViewBag.Event.ArtistName!!" data-lang="he" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Order">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" min="1" max="@ViewBag.Event.AvailableTicketsNumber"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event" class="control-label"></label>
                <input asp-for="Event" class="form-control" value="@ViewBag.Event.ArtistName" disabled />
            </div>
            <div class="form-group">
                <input type="submit" value="Order" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@{ if (ViewBag.RecomendedTicket != null)
    {
        <div class="revomndedTicket">
            Other people were also interested in:
            <a href="/Events/Order/@ViewBag.RecomendedTicket.Id">
                @ViewBag.RecomendedTicket.ArtistName,
                @ViewBag.RecomendedTicket.EventDate
            </a>
        </div>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>
    .revomndedTicket {
        margin-top: 1%;
    }
</style>