﻿
@{
    ViewData["Title"] = "About Our App";
}
<link rel="stylesheet" type="text/css" media="all" href="~/css/about.css" />

<h2>About Our App</h2>

<video src="~/videos/MusicTicketsAboutVideo.mp4" autoplay="autoplay" controls="controls" style="display: block; margin: 10% auto;"></video>

<div class="aboutInformation">
    <p>
        ארבע בוגרי קורס תכנות ממר"ם ישבו ימים כלילות
    </p>
    <ul class="newspaper">
        <li>
            רון קיבה - אוסף ברווזים
        </li>
        <li>
            עמיעד - רוצה להישאר בצה"ל כדי לתרום
        </li>
        <li>
            ענבל - אוהבת מלח.
        </li>
        <li>
            ענת - מעולם לא היה לה מיקרו.
        </li>
    </ul>
</div>
