﻿@using Microsoft.AspNetCore.Identity
@using MusicTickets.Models

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["User"] = UserManager.GetUserName(User);
    ApplicationUser aplicationUser = await UserManager.GetUserAsync(User);
    IList<string> roles = null;

    if (aplicationUser != null)
    {
        roles = await UserManager.GetRolesAsync(aplicationUser);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicTickets</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MusicTickets</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
                        <li><a asp-area="" asp-controller="Stadium" asp-action="Index">Stadium</a></li>
                        <li><a asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a></li>
                        <li><a asp-area="" asp-controller="Genres" asp-action="Index">Genres</a></li>
                        @if (roles != null && roles.Any(currRole => currRole.Equals("ADMIN")))
                        {
                            <li><a asp-area="" asp-controller="Statistics" asp-action="Index">Statistics</a></li>
                        }
                        <li><a asp-area="" asp-controller="About" asp-action="Index">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <aside>
        @await Html.PartialAsync("_LoginPartial")
    </aside>

    <div class="container body-content">
        <section>
            @RenderBody()
        </section>
        <hr />
        <footer>
            <p>&copy; 2018 - MusicTickets</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
