@using Microsoft.AspNetCore.Identity
@using MusicTickets.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["User"] = UserManager.GetUserName(User);
    ApplicationUser aplicationUser = await UserManager.GetUserAsync(User);
}

<link rel="stylesheet" type="text/css" media="all" href="~/css/aside.css" />


@if (SignInManager.IsSignedIn(User))
{
    <section class="aside-container known-user">
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="removeATextLine">
            <div class="userDataContainer">
                <div class="userDataCircle">
                    <p class="userDataText">@aplicationUser.Email[0]</p>
                </div>
            </div>
        </a>

        <section class="userActions">
            <a asp-area="" asp-controller="Manage" asp-action="ChangePassword" title="Change password" class="removeATextLine">
                <div class="iconButtoncontainer">
                    <img src="~/changepassword.png" class="userDataIconButton"/>
                </div>
            </a>

            <a asp-area="" asp-controller="Manage" asp-action="ExternalLogins" title="External logins" class="removeATextLine">
                <div class="iconButtoncontainer">
                    <img src="~/External-Links.png" class="userDataIconButton" />
                </div>
            </a>

            <a asp-area="" asp-controller="Manage" asp-action="TwoFactorAuthentication" title="Two-factor authentication" class="removeATextLine">
                <div class="iconButtoncontainer">
                    <img src="~/2factorauth.png" class="userDataIconButton" />
                </div>
            </a>
        </section>

        <section class="bottom-buttons">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="logOutButton" title="log out"><span class="glyphicon glyphicon-log-out"></span></button>
            </form>
        </section>
    </section>
}
else
{
    <div class="aside-container unknown-user">
        <a asp-area="" asp-controller="Account" asp-action="Register" class="link icon-bar">Register</a>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="link icon-bar">Log in</a>
    </div>
}
