﻿@{
    ViewData["Title"] = "Statistics";
}

<h2>Statistics</h2>

<script src="https://d3js.org/d3.v5.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>

<section class="donutsContainer">
    <div id="eventsByMonths"></div>
    <div id="eventsByCities"></div>
    <div id="eventsByStadiums"></div>
    <div id="eventsByGenrs"></div>
</section>

<style>
    .donutsContainer div {
        display: inline-block;
        margin-right: 3%
    }

    .donutArc text {
        font: 10px sans-serif;
        text-anchor: middle;
    }

    .donutArc path {
        stroke: #fff;
    }
</style>

<script>
    // margin
    var margin = { top: 20, right: 20, bottom: 20, left: 20 },
        width = 350 - margin.right - margin.left,
        height = 350 - margin.top - margin.bottom,
        radius = width / 2;

    // color range
    var color = d3.scaleOrdinal()
        .range(["#BBDEFB", "#90CAF9", "#64B5F6", "#42A5F5", "#2196F3", "#1E88E5", "#1976D2"]);

    // donut chart arc
    var donutArc = d3.arc()
        .outerRadius(radius - 10)
        .innerRadius(radius - 70);

    // arc for the labels position
    var labelArc = d3.arc()
        .outerRadius(radius - 40)
        .innerRadius(radius - 40);

    function createDountChart(elementId, SelectListItemData, chartTitle) {

        // generate donut chart
        var pie = d3.pie()
            .sort(null)
            .value(function (data) {
                return data.value;
            });

        // define the svg donut chart
        var donutSvg = d3.select(elementId).append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        // "g element is a container used to group other SVG elements"
        var groupContainer = donutSvg.selectAll(".donutArc")
            .data(pie(SelectListItemData))
            .enter().append("g")
            .attr("class", "donutArc");

        // append path - The rects
        groupContainer.append("path")
            .attr("data", donutArc)
            .style("fill", function (d) {
                return color(d.data.text);
            })
            .transition()
            .ease(d3.easeLinear)
            .duration(2000)
            .attrTween("d", tweenDonut);

        // append text - The titles
        groupContainer.append("text")
            .transition()
            .ease(d3.easeLinear)
            .duration(2000)
            .attr("transform", function (d) {
                return "translate(" + labelArc.centroid(d) + ")";
            })
            .attr("dy", ".35em")
            .text(function (d) {
                return d.data.text;
            });

        function tweenDonut(b) {
            b.innerRadius = 0;
            var i = d3.interpolate({ startAngle: 0, endAngle: 0 }, b);
            return function (t) { return donutArc(i(t)); };
        }

        donutSvg.append("text")
            .attr("class", "title")
            .attr("text-anchor", "middle")
            .text(chartTitle);
    }

    $.ajax({
        url: '/Statistics/Data',
        dataType: 'json',
        success: function (response) {
            createDountChart("#eventsByMonths", response.eventsByMonths, "Events by months");
            createDountChart("#eventsByCities", response.eventsByCities, "Events by cities");
            createDountChart("#eventsByStadiums", response.eventsByStadiums, "Events by stadiums");
            createDountChart("#eventsByGenres", response.eventsByGenres, "Events by genres");
        }
    });

</script>